.title {
  text-align: center;
  color: darkolivegreen;
}

.image__col {
  max-height: 500px;
  margin-bottom: 0.5rem;
}

.image {
  max-height: inherit;
}

.no-overflow {
  text-overflow: 'ellipsis';
  overflow: 'hidden';
  white-space: 'nowrap';
}
